<header class="section__header">
  <h1 class="section__header--title">Buscador de Series</h1>
  <form action="#" class="js-form">
    <div class="section__header--searched">
      <label for="search"></label>
      <input
        class="section__header--search js-textSearch"
        type="text"
        placeholder="Ej: Game Of Throne"
        name="search"
      />
      <label for="button"></label>
      <input
        class="section__header--button js-buttonSearch"
        type="button"
        value="Buscar"
        name="button"
        id="button"
      />
    </div>
  </form>
</header>
