<main class="section__series">
  <section class="section__favorites">
    <h2 class="section__series--title">Mis Series Favoritas</h2>
    <input
      class="section__favorites--buttonDelete js-buttonDelete"
      type="button"
      value="Vaciar"
      name="button"
    />
    <ul class="section__favorites--list js-listFavorites"></ul>
  </section>
  <section class="section__result">
    <h2 class="section__series--title">Resultado de Búsqueda</h2>
    <ul class="section__result--list js-listResult"></ul>
  </section>
</main>
