.section__footer {
  height: 50px;
  background-image: url("//cdn.pixabay.com/photo/2014/04/03/11/07/clapperboard-311792__340.png");
  background-size: contain;
  background-position: center;
  text-align: end;
  padding: 25px;
  color: white;
}
